.App {
    font-family: sans-serif;
    text-align: center; 
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .flex > div {
    margin: 0 1rem 2rem 1rem;
    text-align: center;
  }
  
  img {
    display: inline-block;
    max-width: 100%;
  }
  
.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  font-family: sans-serif;
  font-family: sans-serif;
  text-align: center; 
}